{% extends "base.html" %} {% block title %} Register {% endblock %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center">
                <h1 class="h4">Register</h1>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                    </div>
                </form>
                <div class="text-center">
                    <a href="{% url 'login' %}">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
